venv
JavaScript/node_modules/promises/node_modules
JavaScript/promises/node_modules
.project
node_modules
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
Cloud/rest-api-pattern/terraform/files
Cloud/http-gateway/terraform/files
